
.header-wrapper {
	position: relative;
	width: 100%;

	.header {
		margin-bottom: 56px;

		.current-date {
			display: flex;
			flex-direction: column;

			.day {
				font-family: Roboto, sans-serif;
				font-weight: 400;
				font-size: 28px;
				color: #fff;
				display: inline-block;
				margin-top: 15px;
				margin-bottom: 10px;
			}

			.data {
				font-family: Roboto, sans-serif;
				font-weight: 200;
				font-size: 14px;
				color: #fff;
				text-transform: uppercase;
			}
		}
	}

	.header__page-name {
		position: absolute;
		top: 15px;
		left: 5%;
		display: flex;
		align-items: center;
		font-size: 32px;
		font-weight: bold;
		line-height: 1;
		color: #212529;

		.btn-back {
			display: block;
			cursor: pointer;
			margin: 0 20px;
			transform: rotate(180deg);

			svg {
				width: 32px;
				height: 25px;
			}
		}
	}
}